extends layout

block content
  div.container

    div.jumbotron
      h1 About
      h2 Authors
      p Aimee Barciauskas, Harihara Subramanyam, Roger Cuscó

      h2 Video Introduction
      p [COMING SOON]

      h2 Source Code
      p
        a(href='https://github.com/bgse-datascience-group8/conflicts_analysis_project') bgse-datascience-group8/conflicts_analysis_project on Github

      h2 Data
      p Data was collected from 
        a(href='http://gdeltproject.org/data.html') GDELT (Global Data on Events, Location and Tone).
        |  GDELT is a dataset of 200 million geolocated events spanning 35 years. Data are collected daily from a variety of international news organizations and categorized using the 
        a(href='http://data.gdeltproject.org/documentation/CAMEO.Manual.1.1b3.pdf') Conflict and Mediation Event Observations Event and Actor Codebook (CAMEO) coding system.

      h2 
      h2 References
      ul
        li
          p
            a(href='http://gdeltproject.org/data.html') GDELT Project Homepage
        li
          p
            a(href='http://dept.stat.lsa.umich.edu/~jizhu/pubs/Peng-JASA09.pdf') Partial Correlation Estimation by Joint Sparse Regression Models
        li
          p
            a(href='http://politicalviolenceataglance.org/2014/02/20/raining-on-the-parade-some-cautions-regarding-the-global-database-of-events-language-and-tone-dataset') Article analyzing weaknesses in GDELT dataset
