extends layout

block content
  div.container
    nav.navbar.navbar-default.navbar-fixed-top#navbar-page
      .container-fluid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Top 
            li
              a(href='#autocorr-ex') Auto-Correlation Example: Boston
            li
              a(href='#autocorr-all') Auto-Correlation for N-days
            li
              a(href='#basic-lasso') Network Analysis: Lasso
            li
              a(href='#space') Space
            li
              a(href='#kmeans') Kmeans
            li
              a(href='#results') Results
            li
              a(href='#summary') Summary

    div.jumbotron
      h1#autocorr Auto-Correlation Analysis

      h2#autocorr-ex Example of Auto-Correlation in 1 city: Boston
      br
      img(src='images/analysis_boston_ex1.png')

      h2#autocorr-all Auto-Correlation for all cities from 1 to nth-day lag
      br
      img(src='images/analysis_lag_all_cities.png')

      h1#network Network Analysis
      h2 City-City Heatmap
      br
      img(src='images/analysis_network_heatmap.png')

      h2#basic-lasso Basic Lasso Results
      br
      img(src='images/analysis_network_basic_lasso.png')
      br
      img(src='images/analysis_network_basic_lasso_hist.png')

      h2#space Network: SPACE Results
      br
      img(src='images/analysis_network_space.png')
      br
      img(src='images/analysis_network_space_hist.png')

      h2#kmeans Network: K-means Clustering of Regions and Effects
      br
      img(src='images/analysis_kluster_map.png')
      br
      img(src='images/analysis_kluster_region_coeffs_boxplot.png')
      
      h1#results Results
      p Here are our results.
      br

      div.results-table
        h3 Models Summary
        table(style='text-align:center')
          tr
            td(colspan='3', style='border-bottom: 1px solid black')
          tr
            td(style='text-align:left')
            td(colspan='2')
              em Dependent variable:
          tr
            td
            td(colspan='2', style='border-bottom: 1px solid black')
          tr
            td(style='text-align:left')
            td(colspan='2') log_num_conflicts
          tr
            td(style='text-align:left')
            td (1)
            td (2)
          tr
            td(colspan='3', style='border-bottom: 1px solid black')
          tr
            td(style='text-align:left') lag.log_num_conflicts
            td
              | 0.591
              sup ***
            td
              | 0.597
              sup ***
          tr
            td(style='text-align:left')
            td (0.003)
            td (0.003)
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') same_region
            td
              | -0.160
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.012)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') region.1
            td
              | -0.010
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.004)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') region.2
            td
              | 0.049
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.005)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') region.3
            td
              | 0.101
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.008)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') region.4
            td
              | 0.066
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.007)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') region.5
            td
              | -0.039
              sup ***
            td
          tr
            td(style='text-align:left')
            td (0.004)
            td
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') log_population
            td
              | -0.162
              sup ***
            td
              | -0.176
              sup ***
          tr
            td(style='text-align:left')
            td (0.004)
            td (0.003)
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') log_population_sq
            td
              | 0.018
              sup ***
            td
              | 0.018
              sup ***
          tr
            td(style='text-align:left')
            td (0.0003)
            td (0.0003)
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') isWashingtonDC
            td
              | 1.617
              sup ***
            td
              | 1.678
              sup ***
          tr
            td(style='text-align:left')
            td (0.031)
            td (0.030)
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(style='text-align:left') weekend
            td
              | -0.408
              sup ***
            td
              | -0.410
              sup ***
          tr
            td(style='text-align:left')
            td (0.006)
            td (0.006)
          tr
            td(style='text-align:left')
            td
            td
          tr
            td(colspan='3', style='border-bottom: 1px solid black')
          tr
            td(style='text-align:left') Observations
            td 85,800
            td 85,800
          tr
            td(style='text-align:left')
              | R
              sup 2
            td 0.821
            td 0.821
          tr
            td(style='text-align:left')
              | Adjusted R
              sup 2
            td 0.821
            td 0.821
          tr
            td(style='text-align:left') Residual Std. Error
            td 0.817 (df = 85789)
            td 0.818 (df = 85795)
          tr
            td(colspan='3', style='border-bottom: 1px solid black')

      div.results-table(style = 'float: right;')
        h3 Cross-Validation
        table
          tr
            th   
            th  Test 1 
            th  Test 2 
            th  Test 3 
            th  Test 4 
            th  Test 5 
            th  Average 
          tr
            td(align='right')  R-squared 
            td(align='right')  0.83 
            td(align='right')  0.76 
            td(align='right')  0.83 
            td(align='right')  0.82 
            td(align='right')  0.85 
            td(align='right')  0.82 
          tr
            td(align='right')  Mean Squared Error 
            td(align='right')  0.68 
            td(align='right')  0.65 
            td(align='right')  0.66 
            td(align='right')  0.65 
            td(align='right')  0.63 
            td(align='right')  0.66   
      br
      div.clearfix

      h1#summary Summary

      p Auto-correlation matters, while there is very little evidence to support that distance matters.
