extends layout

block content
  div.container
    div.jumbotron
      h1#conclusions Conclusions
      p Time matters but we have found no evidence to support that space matters.
      p A model capturing the effects of a single-day lag, population, and whether the date is on a weekend fits the data well but is not well-conditioned suggesting it is not very robust.
      p There is some evidence to suggest that big cities matter.

      h1 Thank You!

      h1 Questions?
