extends layout

block content
  div.container
    div.jumbotron
      h1#conclusions Conclusions
      p Time matters but we have found no evidence to support that space matters. There is some evidence to suggest that big cities matter as found in the network estimations.
      p A model capturing the effects of a single-day lag, population, and weekend fits the data well, but overfits to the dataset. There is greater uncertainty in the number of events than what can be predicted by the model.

      h1 Thank you for dropping by!

      p If you have questions please feel contact one of the team members (see the 
        a(href='/about') about page
        | ).
